 
html {
    background-image: url("./mars.jpg");
}
video {
	display: none;
}

body{
  margin:0;
  padding:0;
}

img {
  width: 200px;
}

.level1 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}



.passage{bottom:15%;
position:absolute;
-webkit-animation:linear infinite alternate;
-webkit-animation-name: run;
-webkit-animation-duration: 10s;
}     
@-webkit-keyframes run {
    0% { left: 0; transform: scaleX(1);}
    50%{ left : 200%;transform: scaleX(1);}
    51%{ transform: scaleX(-1);}
    100%{ left: -100%; transform: scaleX(-1);}
}





@keyframes flutter-left {
  0%   { transform: rotate3d(0, 1, 0, 20deg); }
  50% { transform: rotate3d(0, 1, 0, 70deg); }
  100% { transform: rotate3d(0, 1, 0, 20deg); }
}

@keyframes flutter-right {
  0%   { transform: rotate3d(0, 1, 0, -20deg); }
  50% { transform: rotate3d(0, 1, 0, -70deg); }
  100% { transform: rotate3d(0, 1, 0, -20deg); }
}

.butterfly {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0; bottom: 0; left: 0;    right: 0;
	transform-style: preserve-3d;
  transform: rotate3d(1, 0.5, 0, 110deg);
}

.left-wing, .right-wing {
  width: 24px;
  height: 42px;
  position: absolute;
  top: 10px;  
}

.left-wing {
  left: 10px;
  top: 10px;
  transform-origin: 24px 50%;
  transform: rotate3d(0, 1, 0, 20deg);
  animation: flutter-left 0.3s infinite;
}

.right-wing {
  left: 34px;
  transform: rotate3d(1, 1, 1, -20deg);
  transform-origin: 0px 50%;
  animation: flutter-right 0.3s infinite;
}

.left-wing .topp {
  right: 0;
}

.topp, .bottomm {
  background: pink;
  opacity: 0.9;
  position: absolute;
}

.topp {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.bottomm {
  top: 18px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

canvas {
	cursor: crosshair;
	display: block;
}



